# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Env / secrets
.env
*.env.local

# Data & modelos (pesados / generados)
data/raw/*
data/processed/*
data/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/
